<!-- 📝 Formulaire de recherche (départ et destination) -->
<form (ngSubmit)="onSearch()" class="form-container" autocomplete="off">

  <!-- Champ pour le point de départ -->
  <div class="input-group" style="position: relative;">
    <span><i class="fas fa-location-dot"></i></span>
    <input
      type="text"
      placeholder="Départ"
      [(ngModel)]="from"
      name="from"
      required
      (input)="getSuggestions(from, 'from')"
      autocomplete="off"
    />
    <ul *ngIf="suggestionsFrom.length > 0" class="suggestions-list">
      <li
        *ngFor="let item of suggestionsFrom"
        (click)="from = item; suggestionsFrom = []"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <!-- Champ pour la destination -->
  <div class="input-group" style="position: relative;">
    <span><i class="fas fa-flag-checkered"></i></span>
    <input
      type="text"
      placeholder="Destination"
      [(ngModel)]="to"
      name="to"
      required
      (input)="getSuggestions(to, 'to')"
      autocomplete="off"
    />
    <ul *ngIf="suggestionsTo.length > 0" class="suggestions-list">
      <li
        *ngFor="let item of suggestionsTo"
        (click)="to = item; suggestionsTo = []"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <!-- Bouton pour soumettre la recherche -->
  <button type="submit"><i class="fas fa-search"></i> Rechercher</button>
</form>
