<div class="home-container">
  <div class="top-bar">
    <img src="assets/logo2.png" alt="Tektall Logo" class="logo-img" />
    <h1 class="site-name">Tektall</h1>
  </div>

  <div class="main-content">
    <h2 class="headline">Simplifiez vos déplacements dans Dakar</h2>
    <p class="subheadline">Découvrez les lignes TATA et Dakar Dem Dikk en quelques clics.</p>

    <div class="buttons">
  <button class="btn-green" routerLink="/search">🚏 Trouver un trajet</button>
  <button class="btn-white" routerLink="/lines">🚌 Voir les lignes</button>
  <button class="btn-avis" routerLink="/retour">💬 Donner un avis</button>
     </div>

  </div>
